ion-input {
  width: 100%; /* Faz o input ocupar toda a largura disponível */
}

.email-container{
  position: relative;
  align-items: center; /* Alinha o conteúdo no meio do contêiner verticalmente */
  width: 80%; /* Largura total */
  margin: auto; /* Centraliza horizontalmente */
}

.password-container {
  position: relative;
  display: flex;
  align-items: center; /* Alinha o conteúdo no meio do contêiner verticalmente */
  justify-content: flex-start; /* Alinha horizontalmente à esquerda */
  border-radius: 8px;
  width: 80%; /* Largura total */
  margin: auto; /* Centraliza horizontalmente */
}

.password-toggle-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--ion-color-medium);
  margin-left: 10px; /* Espaço entre o input e o ícone */
}

.modal-image-container {
  position: relative;
  text-align: center;
}

.modal-title {
  position: absolute;
  top: 130px; /* Ajuste conforme necessário para mover o título para baixo */
  left: 50%;
  transform: translateX(-50%); /* Centraliza o título horizontalmente */
  color: #000; /* Ou outra cor que você preferir */
  z-index: 10; /* Garante que o título fique acima de outros elementos */
  font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
}

.custom-button {
  height: 50px; /* Ajuste a altura conforme necessário */
}

.login-message {
  margin-top: 15px;
  color: red; /* ou qualquer cor que preferir */
}

.google-login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin-left: 2.6px;
  margin-top: 10px;
  height: 50px;
  background-color: whitesmoke !important; 
  border: none !important;
  cursor: pointer;
  padding: 0 !important; 
  color: #333 !important; 
  --background: whitesmoke !important; 
  --ion-color-primary: transparent !important; 
  --ion-color-primary-rgb: 255, 255, 255 !important; 
}

.google-login-btn img.google-logo {
  width: 24px; 
  height: 24px; 
  margin-right: 10px; 
  background-color: transparent; 
  display: block; 
}

.remember-forgot {
  --background: transparent;
  --ion-item-background: transparent; /* Para garantir que o fundo esteja transparente */
  --ion-item-border-color: transparent; /* Para remover a borda, se necessário */
}

ion-item:hover {
  transform: scale(1.02); /* Leve aumento ao passar o mouse */
}

ion-item {
  background: white; /* Fundo branco para os itens */
  border-radius: 8px; /* Bordas arredondadas para itens */
  margin-bottom: 10px; /* Espaçamento entre itens */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.2s; /* Animação ao passar o mouse */
}