<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Produtividade
    </ion-title>

    <img src="assets/img/bicho.png" alt="Logo" style="max-height: 35px; margin-left: -19.5px;"/>

    <ion-buttons slot="end">
      <ion-button (click)="openProfile()">
        <ion-icon name="person-circle-outline" style="font-size: 42px; margin-top: 2px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
